ion-card {
  border-radius: 0%;
  margin-bottom: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.date-label {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: var(--ion-color-medium);
}

.budget-amount {
  font-weight: bold;
  font-size: clamp(1.5rem, 6vw, 2.5rem);
  color: var(--ion-color-primary);
  margin-bottom: 12px;
}

ion-progress-bar {
  height: 10px;
  border-radius: 4px;
  margin: 8px 0;
}

.spend-info {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.label {
  font-weight: 500;
  color: var(--ion-color-medium);
  margin-right: 8px;
}

.text-bold {
  font-weight: bold;
}

.spend-status {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.chips-group {
  margin-top: 12px;
  flex-wrap: wrap;
}

ion-chip {
  margin: 4px 6px 4px 0;
  font-size: 0.9rem;
}

.chart-wrapper {
  padding: 12px;
  display: flex;
  justify-content: center;
}

canvas {
  width: 100%;
  max-width: 60%;
}

@media (max-width: 768px) {
  canvas {
    width: 50%;
    height: 40vh;
    max-width: 100%;
  }

  .budget-amount {
    font-size: 1.8rem;
  }

  .spend-info {
    flex-direction: column;
    align-items: flex-start;
  }

  ion-chip {
    font-size: 0.8rem;
  }
  .date-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.85rem;
    color: var(--ion-color-medium);

    .notice-toggle{
      display: flex;
      justify-content: space-between;
      gap: 4px;
    }
  }
}
