<ion-header [translucent]="true">
  <ion-toolbar color="fav">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/budgets"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ detailsData?.budget_name | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-content">
    <ion-card>
      <ion-card-content>
        <span>{{detailsData?.created_at | date:'YYYY-MMMM-dd'}}</span>
        <h1 class="text-bold">
          {{detailsData?.budget_amount | currency:'RM '}}
        </h1>
        <ion-progress-bar [value]="detailsData?.used_amount / detailsData?.budget_amount" [color]="getProgressColor(detailsData?.used_amount,detailsData?.budget_amount)"></ion-progress-bar>
        <div class="spend-info">
          <span>{{detailsData?.used_amount | currency:'RM '}}</span>
          <ion-text [color]="getProgressColor(detailsData?.used_amount,detailsData?.budget_amount)" class="text-bold">
            {{detailsData?.budget_amount - detailsData?.used_amount |currency:'RM '}}
          </ion-text>
        </div>

        <div *ngIf="!loading_chart">
          <div class="spend-info">
            <span>Spent</span>
            <ion-text [color]="getProgressColor(detailsData?.used_amount,detailsData?.budget_amount)" class="text-bold">
              {{(detailsData?.budget_amount - detailsData?.used_amount) < 0 ?'Overspent' : 'Remaining' }}
            </ion-text>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="card-content">
    <ion-card>
      <ion-card-content>
        <h1 class="text-bold">Trend</h1>
        <div class="chart-wrapper">
          <ion-skeleton-text *ngIf="loading_chart" animated style="width: 100%; height: 200px"></ion-skeleton-text>
          <canvas #lineCanvas *ngIf="!loading_chart"></canvas>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
