<ion-header [translucent]="true">
  <ion-toolbar color="fav">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if(formID == 2){
  <div [formGroup]="transactionForm" (ionChange)="getCategory($event)">
    <ion-segment formControlName="transaction_type" class="segment ">
      <ion-segment-button value="income">
        <ion-label>Income</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expenses">
        <ion-label>Expenses</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
}

<ion-content class="ion-padding">

  <!-- New Account -->
  <div class="ion-padding" *ngIf="formID == 1">
    <form [formGroup]="AccountForm" (ngSubmit)="onSubmit()">
      <ion-list lines="full">

        <!-- Account Name -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="person-circle-outline" slot="start" class="icon" ></ion-icon>
            <ion-input label="Account Name" labelPlacement="stacked" formControlName="account_name" type="text" placeholder="Enter name"></ion-input>
          </ion-item>
          <app-error-message *ngFor="let val of validations.accountName" [field]="AccountForm.get('account_name')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

        <!-- Type -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="list-circle-outline" slot="start" class="icon" ></ion-icon>
            <ion-select label="Type" labelPlacement="stacked" placeholder="Select account type" interface="popover" formControlName="account_type">
              <ion-select-option *ngFor="let type of types" [value]="type.type">
                {{type.type | titlecase}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-message *ngFor="let val of validations.type" [field]="AccountForm.get('account_type')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

        <!-- Amount -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="cash-outline" slot="start" class="icon" ></ion-icon>
            <ion-input label="Initial Balance (RM)" labelPlacement="stacked" formControlName="balance" type="number" placeholder="Enter Amount"></ion-input>
            <ion-note slot="end" color="medium">MYR</ion-note>
          </ion-item>
          <app-error-message *ngFor="let val of validations.balance" [field]="AccountForm.get('balance')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

      </ion-list>
    </form>
  </div>

  <!-- New Transactions -->
  <div class="ion-padding" *ngIf="formID == 2">
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
      <ion-list lines="full">

        <!-- Amount -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="cash-outline" slot="start" class="icon" ></ion-icon>
            <ion-input label="Amount (RM)" labelPlacement="stacked" formControlName="transaction_amount" type="number" placeholder="Enter Amount"></ion-input>
            <ion-note slot="end" color="medium">MYR</ion-note>
          </ion-item>
          <app-error-message *ngFor="let val of validations.transaction_amount" [field]="transactionForm.get('transaction_amount')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

        <!-- Categories -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="list-circle-outline" slot="start" class="icon" ></ion-icon>
            <ion-select [label]="'Categories (' + label + ')'" labelPlacement="stacked" placeholder="Select category" formControlName="transaction_category">
              <ion-select-option *ngFor="let category of categories" [value]="category.name">
                {{category.name | titlecase}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-message *ngFor="let val of validations.transaction_category" [field]="transactionForm.get('transaction_category')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

        <!-- From Account -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="wallet-outline" slot="start" class="icon" ></ion-icon>
            <ion-select label="Account" labelPlacement="stacked" placeholder="Select account" formControlName="transaction_account">
              <ion-select-option *ngFor="let account of accounts" [value]="account.id">
                {{account.account_name | titlecase}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-message *ngFor="let val of validations.transaction_account" [field]="transactionForm.get('transaction_account')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

        <!-- Description -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="document-text-outline" slot="start" class="icon" ></ion-icon>
            <ion-textarea label="Description" labelPlacement="stacked" rows = "3" formControlName="transaction_description"></ion-textarea>
          </ion-item>
        </div>

        <!-- Date -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="calendar-outline" slot="start" class="icon" ></ion-icon>
            <ion-input label="Date" labelPlacement="stacked" formControlName="transaction_date" type="text" placeholder="Enter Date" readonly id="pop-date"></ion-input>
            <ion-popover trigger="pop-date">
              <ng-template>
                <ion-datetime presentation="date" [value]="transactionForm.get('transaction_date')?.value" (ionChange)="transactionForm.get('transaction_date')?.setValue($event.detail.value)"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </div>
        
      </ion-list>
    </form>
  </div>

  <!-- New Budget -->
  <div class="ion-padding" *ngIf="formID == 3">
    <form [formGroup]="BudgetForm" (ngSubmit)="onSubmit()">
      <ion-list lines="full">

        <!-- Budget Name -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="reader-outline" slot="start" class="icon" ></ion-icon>
            <ion-input label="Budget Name" labelPlacement="stacked" formControlName="budget_name" type="text" placeholder="Enter Budget Name"></ion-input>
          </ion-item>
          <app-error-message *ngFor="let val of validations.budget_name" [field]="BudgetForm.get('budget_name')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

        <!-- Budget Amount -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="cash-outline" slot="start" class="icon" ></ion-icon>
            <ion-input label="Budget Amount (RM)" labelPlacement="stacked" formControlName="budget_amount" type="number" placeholder="Enter Budget Amount"></ion-input>
            <ion-note slot="end" color="medium">MYR</ion-note>
          </ion-item>
          <app-error-message *ngFor="let val of validations.budget_amount" [field]="BudgetForm.get('budget_amount')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

        <!-- Budget Category -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="list-circle-outline" slot="start" class="icon" ></ion-icon>
            <ion-select label="Categories" labelPlacement="stacked" placeholder="Select category" formControlName="budget_category" multiple="true">
              <ion-select-option *ngFor="let category of categories" [value]="category.name">
                {{category.name | titlecase}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-message *ngFor="let val of validations.budget_category" [field]="BudgetForm.get('budget_category')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

        <!-- Budget Account -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="wallet-outline" slot="start" class="icon" ></ion-icon>
            <ion-select label="Accounts" labelPlacement="stacked" placeholder="Select category" formControlName="budget_account" multiple="true">
              <ion-select-option *ngFor="let account of accounts" [value]="account.id">
                {{account.account_name | titlecase}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-message *ngFor="let val of validations.budget_account" [field]="BudgetForm.get('budget_account')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

      </ion-list>
    </form>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar style="padding-left: 8px; padding-right: 8px">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Dismiss</ion-button>
    </ion-buttons>
    <ion-button slot="end" color="primary" (click)="onSubmit()">
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>
