<ion-header [translucent]="true">
  <ion-toolbar color="fav">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if(formID == 2){
  <div [formGroup]="transactionForm" (ionChange)="getCategory($event)">
    <ion-segment formControlName="transaction_type">
      <ion-segment-button value="income">
        <ion-label>Income</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expenses">
        <ion-label>Expenses</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
}

<ion-content class="ion-padding">

  <div class="ion-padding" *ngIf="formID == 1">
    <form [formGroup]="AccountForm" (ngSubmit)="onSubmit()">
      <ion-list lines="full">

        <!-- Account Name -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="person-circle-outline" slot="start" class="icon" ></ion-icon>
            <ion-label position="stacked">Account Name</ion-label>
            <ion-input formControlName="account_name" type="text" placeholder="Enter name"></ion-input>
          </ion-item>
          <app-error-message *ngFor="let val of validations.accountName" [field]="AccountForm.get('account_name')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

        <!-- Type -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="list-circle-outline" slot="start" class="icon" ></ion-icon>
            <ion-label position="stacked">Type</ion-label>
            <ion-select placeholder="Select account type" interface="popover" formControlName="account_type">
              <ion-select-option *ngFor="let type of types" [value]="type.type">
                {{type.type}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-message *ngFor="let val of validations.type" [field]="AccountForm.get('account_type')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

        <!-- Amount -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="cash-outline" slot="start" class="icon" ></ion-icon>
            <ion-label position="stacked">Initial Balance</ion-label>
            <ion-input formControlName="balance" type="number" placeholder="Enter Amount"></ion-input>
            <ion-note slot="end" color="medium">MYR</ion-note>
          </ion-item>
          <app-error-message *ngFor="let val of validations.balance" [field]="AccountForm.get('balance')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

      </ion-list>
    </form>
  </div>

  <div class="ion-padding" *ngIf="formID == 2">
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
      <ion-list lines="full">

        <!-- Amount -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="cash-outline" slot="start" class="icon" ></ion-icon>
            <ion-label position="stacked">Amount (RM)</ion-label>
            <ion-input formControlName="transaction_amount" type="number" placeholder="Enter Amount"></ion-input>
            <ion-note slot="end" color="medium">MYR</ion-note>
          </ion-item>
          <app-error-message *ngFor="let val of validations.amount" [field]="transactionForm.get('transaction_amount')!" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>

        <!-- Categories -->
        <div class="item-container">
          <ion-item lines="none" class="form">
            <ion-icon name="list-circle-outline" slot="start" class="icon" ></ion-icon>
            <ion-label position="stacked">Categories ({{label}})</ion-label>
            <ion-select placeholder="Select account type" formControlName="transaction_category">
              <ion-select-option *ngFor="let category of categories" [value]="category.name">
                {{category.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-message *ngFor="let val of validations.type" [error]="val.error" [message]="val.message" [submitted]="isSubmitted"></app-error-message>
        </div>
        
      </ion-list>
    </form>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar style="padding-left: 8px; padding-right: 8px">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Dismiss</ion-button>
    </ion-buttons>
    <ion-button slot="end" color="primary" (click)="onSubmit()">
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>
