.account-card {
  border: 1px solid #eeeeee;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.account-icon{
  font-size: 24px;
  color: #4a90e2;
  margin-left: 12px;
}

.account-name{
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.account-balance{
  font-size: 16px;
  color: #4ae25e;
  font-weight: 600;
}