<app-header title="Accounts"></app-header>

<ion-content>

  <ion-list lines="none">

    <!-- Skeleton Loader -->
    <ng-container *ngIf="isLoading">
      <ion-card class="account-card skeleton" *ngFor="let item of [1, 2, 3]">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <ion-skeleton-text animated style="width: 40px; height: 40px;"></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h2><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></h2>
            <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
          </ion-label>
          <ion-note slot="end">
            <ion-skeleton-text animated style="width: 60px"></ion-skeleton-text>
          </ion-note>
        </ion-item>
      </ion-card>
    </ng-container>

    <!-- Real Data -->
    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="(accounts?.length ?? 0) > 0; else noAccounts">
        <ion-list style="padding: 10px 12px;">
            <ion-item *ngFor="let acc of accounts" class="account-card" button (click)="openAccountDetails(acc.id)">
            <ion-icon [name]="acc.icon" slot="start" class="account-icon ion-no-margin"></ion-icon>
            <ion-label class="label">
              <h2 class="account-name">{{ acc.account_name | titlecase }}</h2>
              <p class="account-balance">{{ acc.balance | currency:'RM ':'symbol':'1.2-2' }}</p>
            </ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-list>
      </ng-container>
      <ng-template #noAccounts>
         <div class="ion-padding ion-text-center text-muted">
           You haven't set up any accounts yet.
         </div>
       </ng-template>
    </ng-container>

  </ion-list>

</ion-content>
