<app-header title="Accounts"></app-header>

<ion-content class="ion-padding">

  <ion-list>

    <!-- Skeleton Loader -->
    <ng-container *ngIf="isLoading">
      <ion-card class="account-card" *ngFor="let item of [1,2,3]">
        <ion-card-header>
          <ion-item lines="none">
            <ion-icon name="card" slot="start" color="tertiary"></ion-icon>
            <ion-label>
              <h2><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h2>
              <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
            </ion-label>
            <ion-note slot="end" color="success">
              <ion-skeleton-text animated style="width: 60px"></ion-skeleton-text>
            </ion-note>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </ng-container>

    <!-- Real Data -->
    <ng-container *ngIf="!isLoading">
      <ion-card *ngFor="let account of accounts" class="account-card">
        <ion-card-header>
          <ion-item lines="none" class="account-item">
            <ion-icon [name]="account.icon" slot="start" color="tertiary" class="account-icon"></ion-icon>
            <ion-label>
              <h2 class="account-name">{{ account.account_name | titlecase}}</h2>
              <p class="balance-label">Available Balance</p>
            </ion-label>
            <ion-note slot="end" color="success" class="balance-note">
              {{ account.balance | currency: 'MYR ' }}
            </ion-note>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </ng-container>

  </ion-list>

</ion-content>
