<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="display">
      <ion-header>
        <div class="img-container ion-padding">
          <img src="assets\icon\icon.png" />
        </div>
        <div class="user-container ion-padding">
          <ion-label class="labels">Welcome,</ion-label>
          <ion-label class="user-name">{{fname}} {{lname}}</ion-label>
        </div>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <div class="ion-padding" slot="content">
            <ion-menu-toggle auto-hide="false">
              <ion-item button routerDirection="root" routerLink="/dashboard" lines="none" detail="false" routerLinkActive="selected" class="menu-item">
                <ion-icon aria-hidden="true" slot="start" name="stats-chart" class="menu-item-icon"></ion-icon>
                <ion-label class="menu-item-label">Dashboard</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
          <ion-accordion-group color="fav" [value]="['main']" multiple="true">
            <ion-accordion value="main">
              <ion-item slot="header">
                <ion-label>Financial Management</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                @for (p of appPages; track p; let i = $index) {
                  <ion-menu-toggle auto-hide="false">
                    <ion-item button routerDirection="root" [routerLink]="[p.url]" (click)="comingSoon(p)" lines="none" detail="false" routerLinkActive="selected" class="menu-item">
                      <ion-icon aria-hidden="true" slot="start" [name]="p.icon" class="menu-item-icon"></ion-icon>
                      <ion-label class="menu-item-label">{{ p.title }}</ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                }
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-list>
      </ion-content>
      <ion-footer>
        <div class="menu-footer">
          <ion-menu-toggle auto-hide="false">
            <ion-item button routerDirection="root" lines="none" detail="false" (click)="settings()" routerLinkActive="selected" class="menu-item-footer">
              <ion-icon aria-hidden="true" slot="start" name="settings" class="menu-item-icon"></ion-icon>
              <ion-label class="menu-item-label">Settings</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item button routerDirection="root" lines="none" detail="false" (click)="logout()" class="menu-item-footer menu-logout">
              <ion-icon aria-hidden="true" slot="start" name="log-out-outline" class="menu-item-icon"></ion-icon>
              <ion-label class="menu-item-label">Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
