.error-message {
  display: flex;
  align-items: center;
  color: #eb445a; // Ionic 'danger' color
  font-size: 0.875rem; // smaller text size
  margin-top: 4px;
  gap: 4px;

  ion-icon {
    font-size: 1.1rem;
    color: #eb445a; // consistent with text
  }
}